# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea/*

# 忽略一个文件夹下面的所有文件，但保留这个文件夹本身
src-tauri/bot-resources/provider/*
!src-tauri/bot-resources/provider

# 同上
src-tauri/bot-resources/wrapper/plugins/bin/*
!src-tauri/bot-resources/wrapper/plugins/bin

src-tauri/bot-resources/wrapper/plugins/config/*
!src-tauri/bot-resources/wrapper/plugins/config

src-tauri/bot-resources/wrapper/plugins/lib/*
!src-tauri/bot-resources/wrapper/plugins/lib

src-tauri/bot-resources/wrapper/publish/*
!src-tauri/bot-resources/wrapper/publish
